// Import libraries
@import "../../node_modules/normalize-scss/sass/normalize";
@import "./boxSizingFix.scss";
@import "./fonts.scss";
@import "./mixinsWeb.scss";

// COLORS
$bg-hero: #5ac7a8;
$bg-servA: #f37377;
$bg-servB: #f38285;
$bg-process: #fcb410;
$bg-works: #1c3562;
$bg-works2: #2b2b2b;
$bg-workdetail: #dc6854;
$bg-contact: #5ac7a8;
$bg-contact-r: #4db799;
$bg-menu: #17283a;

// Bulma
@import "../../node_modules/bulma/bulma.sass";
// spacing helper for Bulma
@import "./spacing.scss";

//Custom Styles
@import "./fadeFP.scss";
@import "./menu.scss";
@import "./pageLoader.scss";

// ----------------------------------------- //

body {
  font-family: "CircularStdBook";
  min-width: 100px !important;
}

.container {
  @include mobile {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.is-fullheight {
  min-height: 100vh;
  display: flex;
  align-items: center;

  @include mobile {
    min-height: 50vh !important;
  }
}

a {
  transition: all 0.2s ease-in-out;
}

//BRAND ICON
.brandIcon {
  position: fixed;
  z-index: 860;
  top: 25px;
  left: 25px;

  & img {
    height: 60px;
    transition: all 0.2s ease-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  @include mobile {
    top: 20px;
    left: 20px;
  }
}

//HOME
.illHome {
  min-width: 100%;
  height: 60vh;
}

.titleHome {
  font-size: 2.3rem;
  // @extend .is-size-2;
  font-family: "CircularStdBook";
  color: #17283a;
  font-weight: 700;

  & span {
    color: #e2e1cf;
  }
}

.subtitleHome {
  @extend .is-size-2;
  font-family: "CrimsonTextReg";
  color: #8de2ca;
}

//SERVICE
.services {
  color: #17283a;

  & h1 {
    @extend .is-size-3;
    color: #e2e1cf;
    font-weight: 700;
    width: 250px;
    margin: auto;
  }
  & hr {
    background-color: #f4a0a2;
    height: 4px;
    margin: 1.5rem 45% 1.5rem 45%;
  }
  & ul li {
    @extend .is-size-5;
    font-weight: 900;
    line-height: 1.8;
  }

  & .btn-serv {
    margin-top: 2rem !important;
    @include my-box-btn(140px, 30px, #fac903, $bg-servA, #502e3f, 6px, true);
  }
}

//US -> SECTION
.illUs {
  width: 100%;
  height: 60vh;
}

.usHomeLeft {
  & h1 {
    @extend .is-size-3, .m-b-md;
    font-family: "CircularStdBook";
    color: #502e3f;
    font-weight: 900;
  }

  & p {
    @extend .is-size-5, .m-b-lg;
    font-family: "Montserrat";
    color: #17283a;
    font-weight: 400;
  }

  & .btn-us-home {
    @include my-box-btn(140px, 30px, #f37377, $bg-process, #502e3f, 6px, false);
    & a {
      color: #502e3f;
    }
  }
}

//US -> PAGE
.about-us {
  background-color: #5ac7a8;
  width: 100%;
  overflow: hidden;
}

.usMenu {
  background-color: $bg-contact-r;

  & .wrpMenuUs {
    padding-left: 33.333%;
  }

  & .itemMenuSelected {
    @extend .is-size-2;
  }
  & .itemMenu {
    @extend .p-b-lg;
    font-size: 1.5rem;
    font-family: CircularStdBook;
    font-weight: 600;
    color: #17283a;

    & a {
      color: #17283a;
    }
  }
  & .btn-about-us {
    @include my-box-btn(
      140px,
      30px,
      #fac903,
      $bg-contact-r,
      #502e3f,
      6px,
      false
    );
    & a {
      color: #502e3f;
    }
  }
}

.usTeam {
  background-color: $bg-contact;
  display: none;

  &.active {
    display: flex;
  }

  & .teamName {
    & .teamMember:first-child {
      @extend .p-b-xl, .p-t-md;
    }

    & .teamMember {
      color: #502e3f;

      & h2 {
        @extend .is-size-5;
        @extend .p-b-md;
        font-weight: 900;
      }

      & p {
        @extend .is-size-6;
        line-height: 1.5em;
        color: #17283a;
      }
    }
  }

  & .columns {
    position: relative;
    width: 100%;
  }

  & .illusTeam {
    position: absolute;
    left: 33%;
    width: 66%;
    height: 50vh;
    & svg {
      height: 50vh;
      width: 100%;
    }
  }
}

.usProcess {
  background-color: $bg-contact;

  display: none;

  &.active {
    display: flex;
  }

  & .columns {
    color: #502e3f;
    width: 100%;
    @extend .p-t-xl;

    & .column p:last-child {
      @extend .p-b-lg;
    }

    & .column {
      & h3 {
        @extend .is-size-5, .p-b-lg;
        text-transform: uppercase;
      }
      & p {
        font-size: 0.8rem !important;
        color: #17283a;
        width: 80%;
      }
    }
  }

  & .itemPr {
    display: flex;
    flex-direction: row;
    position: relative;

    & h3 {
      font-weight: 900;
    }

    font-weight: 900;

    & img {
      position: absolute;
      height: 6em;
      bottom: 1em;
      left: 6em;
    }
  }
}

//WORKS
.worksCont {
  & .column:first-child {
    // background-color: grey;
    height: 72vh;
    padding: 0px;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  & .column:nth-child(2) {
    // background-color: black;
    position: relative;

    & .workInfo {
      position: absolute;
      top: -18vh;
      left: -150px;
      width: 300px;
      background-color: #e2e1cf;
      padding: 2em;
      // box-shadow: -25px 25px 0px 0px #1c3562;

      & h2 {
        font-size: 1.5em;
        font-weight: 600;
      }

      & h3 {
        font-size: 1em;
        color: grey;
        font-weight: 400;
      }
      & p {
        @extend .p-t-md, .p-b-md;
        font-size: 0.8em;
      }
      & a {
        color: inherit;
      }
    }
  }
}

.wk-guido {
  background-color: $bg-works;
  & .worksCont {
    & .workInfo {
      box-shadow: -25px 25px 0px 0px #1c3562;
      color: #1c3562;
      & .btn-launch-guido {
        @include my-box-btn(
          100px,
          30px,
          #e2e1cf,
          #e2e1cf,
          #1c3562,
          4px,
          false,
          true
        );
      }
    }
  }
}

.wk-sky {
  background-color: #2b2b2b;
  & .worksCont {
    & .workInfo {
      box-shadow: -25px 25px 0px 0px #2b2b2b;
      color: #2b2b2b;
      & .btn-launch-sky {
        @include my-box-btn(
          100px,
          30px,
          #e2e1cf,
          #e2e1cf,
          #2b2b2b,
          4px,
          false,
          true
        );
      }
    }
  }
}

.wk-ga {
  background-color: #3a3a47;
  & .worksCont {
    & .workInfo {
      box-shadow: -25px 25px 0px 0px #3a3a47;
      color: #3a3a47;
      & .btn-launch-sky {
        @include my-box-btn(
          100px,
          30px,
          #e2e1cf,
          #e2e1cf,
          #3a3a47,
          4px,
          false,
          true
        );
      }
    }
  }
}

//CONTACT

.rightContact {
  color: #17283a;
  background-color: $bg-contact-r;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .wrpContactB {
    padding-left: 8.33%;
    & .titleContact {
      @extend .p-b-xl, .is-size-2;
    }

    & h1 {
      @extend .is-size-3;
      @extend .p-b-lg;
      font-family: CircularStdBook;
      font-weight: 600;
    }

    & h3 {
      @extend .is-size-4;
      @extend .p-b-md;
    }
    & a {
      color: white;
      @extend .is-size-4;
    }
    & a:hover {
      color: #e2e1cf;
    }

    & footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: "AkkuratB";
      position: relative;

      & ul {
        margin: 0 2em;
        & li {
          line-height: calc(80px / 3);
          letter-spacing: 0.1em;
        }
      }
      & a {
        color: #17283a;
        @extend .is-size-7;
      }
      & a img {
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 8;
      }

      & .vl {
        border-left: 1px solid #17283a;
        height: 80px;
        opacity: 0.3;
      }

      & .copyLeft {
        margin: 0 2em;
        & h5 {
          @extend .is-size-7;
          @extend .p-b-md;
          align-items: flex-start;
        }
        & p {
          font-size: 0.6rem;
          line-height: 2em;
        }
      }
    }
  }
}

.leftContact {
  background-color: $bg-contact;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .wrpContactA {
    width: 80%;
    padding: 0 10%;

    & label {
      font-size: 1rem;
      color: #17283a;
    }
    & input {
      background-color: transparent;
      border-radius: 0px;
      outline: 0;
      border-width: 0 0 1px;
      border-color: #3e9c8f;
      box-shadow: none;
      font-family: Akkurat;
      color: #17283a;
      padding-left: 0px;

      &:hover {
        border-color: #3e9c8f;
      }

      &:focus {
        color: #17283a;
        border-color: #3e9c8f;
      }
    }

    & .twoFields {
      display: flex;
      flex-direction: row;

      & .A {
        width: 40%;
      }
      & .B {
        width: 60%;
      }

      & .select {
        width: 100%;

        &::after {
          border-color: #17283a;
        }

        & select {
          background-color: transparent;
          border-radius: 0px;
          outline: 0;
          border-width: 0 0 1px;
          border-color: #3e9c8f;
          box-shadow: none;
          font-family: Akkurat;
          color: #17283a;
          width: 100%;
          padding-left: 0px;
        }
      }

      & .wrpRadioBtn {
        height: 2.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #3e9c8f;
        padding-left: 0px;

        & .radio {
          justify-content: center;
        }

        & input[type="radio"] {
          visibility: hidden;
          position: absolute;
        }
        input[type="radio"] + label {
          position: relative;
          width: 33%;
          font-family: Akkurat;
          color: #17283a;
        }

        & input[type="radio"] + label:before {
          content: "";
          display: inline-block;
          height: 15px;
          width: 15px;
          background: #3d9a8e;
          margin-right: 0.2em;
        }

        & input[type="radio"]#1 + label:before {
          background: #359457;
        }

        & input[type="radio"]#2 + label:before {
          background: #ffcd2f;
        }

        & input[type="radio"]#3 + label:before {
          background: #f27930;
          margin-left: 0.2em;
        }

        input[type="radio"]:checked + label:after {
          content: "✓";
          color: #17283a;
          z-index: 99;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    & textarea {
      background-color: transparent;
      border-radius: 0px;
      outline: 0;
      border-width: 0 0 1px;
      border-color: #3e9c8f;
      box-shadow: none;
      font-family: Akkurat;
      color: #17283a;
      resize: none;
      min-height: 6em !important;
      padding-left: 0px;

      &:hover {
        border-color: #3e9c8f;
      }

      &:focus {
        color: #17283a;
        border-color: #3e9c8f;
      }
    }

    & .btn-send-contact {
      @extend .m-t-md;
      @include my-box-btn(
        100px,
        30px,
        #fac903,
        $bg-contact,
        #502e3f,
        6px,
        false
      );
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #3e9c8f;
      opacity: 1; /* Firefox */
      padding-left: 0px;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #3e9c8f;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #3e9c8f;
    }
  }
}

// Background Colors
.bg-hero {
  background-color: $bg-hero;
}
.bg-servA {
  background-color: $bg-servA;
}
.bg-servB {
  background-color: $bg-servB;
}
.bg-process {
  background-color: $bg-process;
}
.bg-works {
  background-color: $bg-works;
}
.bg-workdetail {
  background-color: $bg-workdetail;
}
.bg-contact {
  background-color: $bg-contact;
}
.bg-contact-r {
  background-color: $bg-contact-r;
}
