// Icon
.hamburger {
  position: fixed;
  z-index: 850;
  top: 25px;
  right: 25px;
  cursor: pointer;
  & img {
    height: 50px;
    transition: all 0.2s ease-out;
    opacity: 0.8;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  @include mobile {
    top: 20px;
    right: 20px;
  }
}

.hamburger__line {
  content: " ";
  display: block;
  width: 50%;
  margin: auto;
  height: 0.2em;
  background: black;
  opacity: 0.3;
  border-radius: 0.5em;
  margin-bottom: 0.5em;

  &:first-child {
    margin-top: 1.1em;
  }
}

.hamburger--steps {
  & .hamburger__line {
    transition: width 0.3s ease-out;
  }
  &:hover .hamburger__line {
    width: 60%;
  }
}

.hamburger--active {
  background-color: transparent;

  &.hamburger--steps .hamburger__line {
    transition: none;
    width: 80%;
  }

  & .hamburger__line {
    position: absolute;
    margin: auto;
    background-color: white;
    opacity: 0.6;

    &:first-child {
      transform: translate(0%, 1.8em) rotate(-45deg);
    }

    &:last-child {
      transform: translate(0%, 1.8em) rotate(45deg);
    }
  }

  // & img:first-child {
  //   //display: none;
  // }
}

/* Floating Menu*/
#float-menu {
  position: fixed;
  z-index: 600;
  top: 100px;
  right: 30px;
  text-align: left;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 0.2em;

  & li {
    float: left;
    & a {
      transition: all 0.2s ease-in-out;
      color: #e2e1cf;
      &:hover {
        color: white;
      }
    }
  }

  & .active a {
    color: white;
  }

  // work line changue on active element
  & .active ul {
    display: flex;
    & li a hr {
      background-color: whitesmoke;
    }
    & li:first-child a hr {
      background-color: whitesmoke;
      width: 20px;
    }
  }

  & .linesWork {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;

    & a {
      color: rgba(0, 0, 0, 0.5);
    }

    & hr {
      height: 3px;
      //color: white;
      background-color: rgba(0, 0, 0, 0.2);
      width: 10px;
      margin: 0.6em 5px;

      &:hover {
        background-color: white;
      }
    }
  }
}

/* Nav */
.menu-overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
}

.menu-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: left;
}

.menu-overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  // min-height: 54px;
  line-height: 1.2;
}

.menu-overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #f37377;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-family: AkkuratB;
}

.menu-overlay ul li a:hover,
.menu-overlay ul li a:focus {
  color: #f0f0f0;
}

.btn-home-menu {
  @extend .m-t-lg, .m-b-lg;
  font-size: 1.2em;
  color: #502e3f;
  @include my-box-btn(130px, 35px, #fac903, $bg-menu, #f37377, 6px, false);
  & a {
    color: #502e3f;
  }
}

.lineMenu {
  background-color: #fac903;
  height: 4px;
  margin: 1.5rem 80% 1.5rem 0px;
}

.menuContact {
  font-family: Akkurat;
  line-height: 2;
  @extend .is-size-4;

  & h3 {
    color: #3e5873;
  }
  & a {
    color: #e2e1cf;
  }
  & a:hover {
    color: white;
  }
}

.langMenu {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 85px;
  font-family: "Bebas Neue";

  & .itemLang {
    font-size: 1.2em;
    font-weight: 900;
    padding-right: 20px;
  }

  & .itemLang a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #3e5873;
    letter-spacing: 0.1em;
  }

  & .itemLang a:hover {
    color: white;
  }
}

/* Overlay */
.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  z-index: 800;
}

.menu-overlay-contentpush {
  background: $bg-menu;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.menu-overlay-contentpush.open {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
  .menu-overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .menu-overlay ul li {
    min-height: 34px;
  }
}
