// Import libraries
@import "../../node_modules/normalize-scss/sass/normalize";
@import "./boxSizingFix.scss";
@import "./spacing.scss";

// Customize BULMA elements
$title-color: black;
$subtitle-color: black;

// COLORS
$bg-hero: #59c7aa;
$bg-servA: #ff8a90;
$bg-servB: #f57377;
$bg-process: whitesmoke;
$bg-works: #f7ce00;
$bg-workdetail: #dc6854;
$bg-contact: whitesmoke;
$bg-menu: #9ebc9e;

// Bulma
@import "../../node_modules/bulma/bulma.sass";

//Custom styles
// @import './fadeFP.scss';
@import "./menu.scss";
@import "./pageLoader.scss";
@import "./services.scss";
@import "./works.scss";

// ----------------------------------------- //

.container {
  @include mobile {
    padding-left: 32px;
    padding-right: 32px;
  }
}

//SERVICE
.is-fullheight {
  min-height: 100vh;
  display: flex;
  align-items: center;

  @include mobile {
    min-height: 50vh !important;
  }
}

//WORKS
.work-list {
  min-height: 60vh;
  @include mobile {
    min-height: auto;
  }
}
.work-list .box {
  padding: 3rem;
  @include tablet {
    padding-right: 5vw;
  }
}
// TODO: Fix detail overlap
.work-detail {
  @include tablet {
    height: fit-content;
    position: relative;
    right: 5vw;
    top: 10vh;
    padding: 3rem;
  }
}

// Background Colors
.bg-hero {
  background-color: $bg-hero;
}
.bg-servA {
  background-color: $bg-servA;
}
.bg-servB {
  background-color: $bg-servB;
}
.bg-process {
  background-color: $bg-process;
}
.bg-works {
  background-color: $bg-works;
}
.bg-workdetail {
  background-color: $bg-workdetail;
}
.bg-contact {
  background-color: $bg-contact;
}
